* {
  font-family: Lato;
}

body {
  font-family: Lato, sans-serif;
  color: #5B2B81;
  background-color: #f2eff6;
  transition: all 300ms ease-in-out;
}

.logo-img {
  position: absolute;
  top: 30;
  right: 30;
  height: 41px;
  width: 200px;
}

img.title {
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  position: absolute;
  left: -5;
  top: 50;
  z-index: 1;
  width: 500px;
  height: 103px;
}

h1.title {
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  position: absolute;
  left: 20;
  top: 45;
  font-size: 3rem;
  z-index: 2;
  max-width: 500px;
}

.step {
  position: relative;
  display: block;

  width: 1800px;
  height: 900px;
  margin: 20px 0;
  border-radius: 10px;

  font-size: 30px;
  letter-spacing: -1px;
  background-color: rgba(236, 232, 242, 0.4);
  background-image: url('../presentation/pattern.png');
  background-size: cover;
}

.step-content {
  position: relative;
  display: block;
  margin-top: 250px;
  margin-left: 100px;
  font-size: 3rem;
  font-weight: normal;
}

.tiny-font {
  font-size: 30px;
}

.row {
  display: block;
  margin: 20px 0;
}

#intro-logo {
  position: absolute;
  width: 800px;
  height: 164px;
  top: calc(50% - 82px);
  left: 0;
}

#intro-title {
  position: absolute;
  background-color: #F55523;
  color: #fafafa;
  font-weight: bold;
  font-size: 4rem;
  top: calc(50% - 20px);
  right: 50px;
}


/*Star Wars Animation CSS*/
.star-wars-intro {
  color: #b68cd9;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 20%;
  animation: fadeInFromNone 2s ease-in-out;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  font-family: Lato, sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  color: #F55523;
  padding-top: 30vh;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 120s ease-out infinite, fadeInFromNone 2s ease-in-out;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 80px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: -200px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}